name: Sync to Hugging Face Spaces
on:
  push:
    branches: [main]
  # 允许手动触发
  workflow_dispatch:

jobs:
  sync-to-huggingface:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to huggingface spaces
        env:
          HF_SYNC_TOKEN: ${{ secrets.HF_SYNC_TOKEN }}
        run: git push --force https://yiiiiiha:$HF_SYNC_TOKEN@huggingface.co/spaces/yiiiiiha/tiny-crawl main